<!-- Simple Modern Music Player  -->

<!-- music player starts here  -->
<div id="music-player" class="rectangle">
  <!-- album logo -->
  <div id="music-logo" class="music-logo">
    <i class="fas fa-music"></i>
  </div>
  <!-- track length -->
  <div id="controls" class="controls">
    <i id="control-points" class="fas fa-circle"></i>
  </div>
  <!-- time -->
  <div id="controls-time" class="controls-time">
    <div class="starts-time">1:22</div>
    <div class="ends-time">-1:00</div>
  </div>
  <!-- song name -->
  <div id="music-name" class="music-name"></div>
  <!-- player button and controls -->
  <div id="player-btn" class="player-btn">
    <i class=""></i>
    <i class="fas fa-play"></i>
    <i class="fas fa-forward"></i>
  </div>
</div>
