<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="header" style="color: white">
      <app-header></app-header>
    </div>
    <div class="slider-container">
      <div class="slide slide0 scrolling_active">
        <div class="slide-part slide-right-part" id="costum-slide">
          <div class="slide-content content-right-part" id="costum-content">
            <h3 class="slide-title">Fejlesztés alatt álló funkciók</h3>
            <p class="slide-subtitle">Görgessen lejjebb! ↓↓↓</p>
          </div>
        </div>
      </div>

      <div class="slide slide3">
        <div class="slide-part slide-left-part">
          <div class="slide-skew">
            <div class="slide-content content-left-part">
              <h3 class="slide-title">Kottaírás</h3>
              <br />
              <p class="slide-subtitle">
                - Gombok segítségével hangjegyeket helyezhetünk a kottába
              </p>
              <br />
              <p class="slide-subtitle">
                - Később a kottát feltölthetjük a rendszerbe
              </p>
            </div>
          </div>
        </div>
        <div class="slide-part slide-right-part">
          <div class="slide-skew">
            <div class="slide-content content-right-part">
              <img
                src="https://github.com/kazmer0/robotofon/blob/master/src/assets/images/music%20sheet%20maker.png?raw=true"
                alt=""
                height="70%"
              />
              <p>Forrás: <a href="https://www.soundslice.com">Soundslice</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide slide4">
        <div class="slide-part slide-left-part">
          <div class="slide-skew">
            <div class="slide-content content-left-part">
              <img
                src="https://github.com/kazmer0/robotofon/blob/master/src/assets/images/ai%20music%20generator.jpeg?raw=true "
                alt=""
                width="100%"
              />
              <p>
                Forrás:
                <a href="https://www.saaslaunchr.com/ai-music-generators/"
                  >SaaSLaunchr</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="slide-part slide-right-part">
          <div class="slide-skew">
            <div class="slide-content content-right-part">
              <h3 class="slide-title">Végtelen dallam generálás</h3>
              <br />
              <p class="slide-subtitle">
                - Mestersées intellgencia segítségével
              </p>
              <br />
              <p class="slide-subtitle">
                - Paraméterekkel válaszatunk magunknak stílust
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide slide5">
        <div class="slide-part slide-left-part">
          <div class="slide-skew">
            <div class="slide-content content-left-part">
              <h3 class="slide-title">Felügyelő</h3>
              <br />
              <p class="slide-subtitle">- Yousician alkalmazáshoz hasonló</p>
              <br />
              <p class="slide-subtitle">
                - Valós időben ad visszajelzést, mikor, hol rontotta el a
                felhasználó a dalt
              </p>
            </div>
          </div>
        </div>
        <div class="slide-part slide-right-part">
          <div class="slide-skew">
            <div class="slide-content content-right-part">
              <video autoplay [muted]="true" loop>
                <source
                  src="https://assets.yousician.com/app/uploads/2024/05/27035300/mgpm-guitar-billie_1.mp4"
                />
              </video>
              <p>Forrás: <a href="https://yousician.com">Yousician</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
