p{
  margin: 0;
}
body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0px !important;
  position: relative;
  overflow: hidden;

  #container3D{
    width: 100vw;
    height: 100vh;
    margin:0;
    padding: 0;
  }
  .slide{
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    p{
      color: #fff;
      font-size: 36px;
      display: none;
    }
  }
  #slide1{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--C);

    p{
      color: #fff;
      font-size: 36px;
    }
    #s1e1{
      display: none;
      font-size: 36px;
      position: absolute;
      top :10px;
    }

    #s1e2{
      display: none;
    }
  }
  #slide2{
    background-color: var(--D);
    display: none;

  }
  #slide3{
    background-color: var(--E);
    display: none;

  }
  #slide4{
    background-color: var(--F);
    display: none;

  }
  #slide5{
    background-color: var(--G);
    display: none;

  }
  #slide6{
    background-color: var(--A);
    display: none;

  }
  #slide7{
    background-color: var(--B);
    display: none;

  }
#slide8{
    background-color: var(--C);
    display: none;

  }
}


