<p>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
    </head>
    <body>
      <!--TESTING-->
      <!-- <p id="szamlaloID"></p>
      <p id="slide1ID"></p> -->
      <!---------->

      <!--SLIDE 1-->
      <div id="slide1" class="slide">
        <h2 id="s1e1">Mik is azok a hangszerművek?</h2>
        <p id="s1e2">- Mechanikus vagy elektronikus szerkezetek</p>
        <p id="s1e3">- A zenélés mellett jól is néznek ki</p>
      </div>

      <!--SLIDE2-->

      <div id="slide2" class="slide">
        <h2 id="s2e1">A víziorgona</h2>

        <p id="s2e2">- Kteszibiosz, i.e. 3. század</p>
        <p id="s2e3">- Világ első billentyűs hangszere</p>
        <!-- <video
          id="s2e4a"
          [controls]="true"
          [muted]="true"
          preload="auto"
          [autoplay]="true"
          [loop]="true"
        >
          <source
            src="../../../assets/videos/víziorgona youtube.mp4"
            type="video/mp4"
          />
        </video> -->

        <iframe
          id="s2e4a"
          src="https://www.youtube.com/embed/pmKSvjpvUx8?&autoplay=1&hd=1&loop=1&playlist=pmKSvjpvUx8"
          title="víziorgona youtube"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <p id="s2e5"></p>
        <p id="s2e6"></p>
        <p id="s2e7"></p>
        <p id="s2e8"></p>
        <p id="s2e9"></p>
        <p id="s2e10"></p>
        <p id="s2e11"></p>
      </div>

      <!--SLIDE3-->

      <div id="slide3" class="slide">
        <h2 id="s3e1">Marble Machine</h2>
        <p id="s3e2">- Wintergatan zenekar, 21. század</p>
        <!-- <video
          id="s3e3"
          [controls]="true"
          [muted]="true"
          preload="auto"
          [autoplay]="true"
          [loop]="true"
        >
          <source
            src="../../../assets/videos/marble machine youtube.mp4"
            type="video/mp4"
          />
        </video> -->
        <iframe
          id="s3e3"
          src="https://www.youtube.com/embed/lL8koIfCffY?&autoplay=1&hd=1&loop=1&playlist=lL8koIfCffY"
          title="marble machine youtube"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>

        <p id="s3e5"></p>

        <p id="s3e7"></p>
      </div>

      <!--SLIDE4-->
      <div id="slide4" class="slide">
        <h2 id="s4e1">Robotofon</h2>

        <p id="s4e2">- Automatizált metalofon</p>
        <p id="s4e4">- Célja a szórakoztatás és gyermekek motiválása</p>
        <p id="s4e5">- Weboldalas felhasználói felület</p>
        <p id="s4e6">- Valós idejű, interaktív eszköz</p>
      </div>

      <!--SLIDE5-->

      <div id="slide5" class="slide">
        <h2 id="s5e1">Hogyan tanít az eszköz?</h2>
        <p id="s5e2">- Különleges tanulási élmény</p>
        <p id="s5e3">- Interaktív játékok</p>

        <!-- <video
          id="s5e3a"
          [controls]="true"
          [muted]="true"
          preload="auto"
          [autoplay]="true"
          [loop]="true"
        >
          <source
            src="../../../assets/videos/interaktiv jatekok.mp4"
            type="video/mp4"
          />
        </video> -->
        <iframe
          id="s5e3a"
          src="https://www.youtube.com/embed/JlCEc2JfKuQ?&autoplay=1&hd=1&loop=1&playlist=JlCEc2JfKuQ"
          title="interaktiv jatekok"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>

        <p id="s5e4">- Egyes embereknek nagy segítség</p>
      </div>

      <!--SLIDE6-->

      <div id="slide6" class="slide">
        <h2 id="s6e1">Hardver</h2>
        <p id="s6e2">- 3D modellezés, - nyomtatás</p>
        <p id="s6e3">- ESP32</p>
        <p id="s6e4">- Nyomtatott áramkör, eltávolítható torony</p>
        <!-- <video
          id="s6e4a"
          [controls]="true"
          [muted]="true"
          preload="auto"
          [autoplay]="true"
          [loop]="true"
        >
          <source
            src="../../../assets/videos/xilofon 2.0 v21.mp4"
            type="video/mp4"
          />
        </video> -->
        <iframe
          id="s6e4a"
          src="https://www.youtube.com/embed/HT0GyJ52edg?&autoplay=1&hd=1&loop=1&playlist=HT0GyJ52edg"
          title="xilofon 2 0 v21"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>

      <!--SLIDE7-->

      <div id="slide7" class="slide">
        <h2 id="s7e1">Szoftver</h2>
        <p id="s7e2">- Weboldalas felhasználói felület</p>
        <p id="s7e3">- Hibrid kommunikáció (internet + bluetooth)</p>
        <p id="s7e4">- Több funkció, saját kotta feltöltés</p>
        <!-- <video
          id="s7e5"
          [controls]="true"
          [muted]="true"
          preload="auto"
          [autoplay]="true"
          [loop]="true"
        >
          <source
            src="../../../assets/videos/főoldal+funkciók.mp4"
            type="video/mp4"
          />
        </video> -->
        <iframe
          id="s7e5"
          src="https://www.youtube.com/embed/ZgRPl3RnK5k?&autoplay=1&hd=1&loop=1&playlist=ZgRPl3RnK5k"
          title="főoldal+funkciók"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <i id="s7e6"></i>
      </div>

      <!--SLIDE8-->

      <div id="slide8" class="slide">
        <h2 id="s8e1">A prezentációról röviden</h2>
        <!-- <a id="s8e2" href="/robotofon/main">kazmer0.github.io/robotofon/main</a> -->
        <p id="s8e2">- Saját határaim feszegetése</p>
        <!-- <p id="s8e3">-Saját könyvtár létrehozása</p>
        <img
          src="https://github.com/kazmer0/robotofon/blob/master/src/assets/images/prezentacio_kep.png?raw=true"
          id="s8e3a"
        /> -->
        <p id="s8e4">- Szabadság</p>
        <h2 id="s8e5" style="position: absolute">Forrásjegyzék:</h2>
        <p id="s8e5a">
          Felhasznált felvételek: <br />
          https://www.youtube.com/watch?v=IvUU8joBb1Q <br />
          https://www.youtube.com/watch?v=bP2u8NBI5m8 <br />
          A minden kód megtalálható: https://github.com/kazmer0/robotofon
        </p>
        <img
          id="s8e6"
          src="https://github.com/kazmer0/robotofon/blob/master/src/assets/images/c5QTvX_qrcode.png?raw=true"
          style="position: absolute; width: 50vw; height: 50vw; display: none"
        />
      </div>

      <!--------->

      <!--konténer amelybe a 3d modell kerül elhelyezésre-->

      <h1
        id="s0e1"
        style="
          width: 100%;
          position: absolute;
          color: white;
          left: 6%;
          font-size: 60px;
          top: 3vh;
        "
      >
        Hangszerművek történelme és a Robotofon
      </h1>
      <p
        id="s0e2"
        style="
          position: absolute;
          color: white;
          right: 5vw;
          font-size: 32px;
          bottom: 3vh;
          line-height: 1.5;
        "
      >
        Készítette: Kálmán Zoltán, 4. osztály <br />
        Műszaki Iskola Ada
      </p>
      <div id="container3D"></div>
    </body>
  </html>
</p>
