<p>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
    </head>
    <body>
      <!--TESTING-->
      <!--

      <p id="szamlaloID"></p>
      <p id="slide1ID"></p>
-->
      <!---------->

      <!--SLIDE 1-->
      <div id="slide1" class="slide">
        <p id="s1e1">Mi is az a robotofon?</p>
        <p id="s1e2">teszt1</p>
      </div>

      <!--SLIDE2-->

      <div id="slide2" class="slide">
        <p id="s2e1">Miért jó?</p>
        <p id="s2e2">teszt1</p>
        <p id="s2e3">teszt2</p>
      </div>

      <!--SLIDE3-->

      <div id="slide3" class="slide">
        <p id="s3e1">Funkciók bemutatása</p>
        <p id="s3e2">teszt1</p>
        <p id="s3e3">teszt2</p>
        <p id="s3e4">teszt3</p>
      </div>

      <!--SLIDE4-->

      <div id="slide4" class="slide">
        <p id="s4e1">A hardverről</p>
        <p id="s4e2">teszt1</p>
        <p id="s4e3">teszt2</p>
        <p id="s4e4">teszt3</p>
        <p id="s4e5">teszt4</p>
      </div>

      <!--SLIDE5-->

      <div id="slide5" class="slide">
        <p id="s5e1">Problémák és megoldások</p>
        <p id="s5e2">tezt1</p>
        <p id="s5e3">tezt2</p>
        <p id="s5e4">tezt3</p>
        <p id="s5e5">tezt4</p>
        <p id="s5e6">tezt5</p>
      </div>

      <!--SLIDE6-->

      <div id="slide6" class="slide">
        <p id="s6e1">Videós bemutatás</p>
        <p id="s6e2">teszt1</p>
        <p id="s6e3">teszt2</p>
        <p id="s6e4">teszt3</p>
        <p id="s6e5">teszt4</p>
        <p id="s6e6">teszt5</p>
        <p id="s6e7">teszt6</p>
      </div>

      <!--SLIDE7-->

      <div id="slide7" class="slide">
        <p id="s7e1">A prezentációról röviden</p>
        <p id="s7e2">teszt1</p>
        <p id="s7e3">teszt2</p>
        <p id="s7e4">teszt3</p>
        <p id="s7e5">teszt4</p>
        <p id="s7e6">teszt5</p>
        <p id="s7e7">teszt6</p>
        <p id="s7e8">teszt7</p>
      </div>

      <!--SLIDE8-->

      <div id="slide8" class="slide">
        <p id="s8e1">Robotofon működése a gyakorlatban!</p>
        <a id="s8e2" href="/main">Go to main page</a>
      </div>

      <!--------->

      <!--konténer amelybe a 3d modell kerül elhelyezésre-->

      <div id="container3D"></div>
    </body>
  </html>
</p>
