$textLeft:10vw;
$text1_2:45vh;
$text2_2:70vh;
$text1_3:35vh;
$text2_3:60vh;
$text3_3:85vh;
$text1_4:35vh;
$text2_4:51vh;
$text3_4:68vh;
$text4_4:85vh;


p{
  margin: 0;
}
body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0px !important;
  position: relative;
  overflow: hidden;

  #container3D{
    width: 100vw;
    height: 100vh;
    margin:0;
    padding: 0;
    background-color: black;
  }
  .slide{
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    h2{
      color: #fff;
      display: none;
      font-size: 90px;
      position: absolute;
      top :10px;
    }

    p{
      color: #fff;
      font-size: 50px;
      display: none;
      position: absolute;
      left: $textLeft;
    }
    a{
      display: none;
      color: #fff;
      font-size: 36px;
    }
  }
  #slide1{
    background-color: var(--C);
    display: none;

    #s1e2{
      position: absolute;
      left: $textLeft;
      top: $text1_2;
    }
    #s1e3{
      position: absolute;
      left: $textLeft;
      top: $text2_2;
      // position: absolute;
      // z-index: -5;
      // width: 99vw;
      // height: 99vh;
      // top: 1vh;
      // left:0.5vw;
    }
  }


  #slide2{
    background-color: var(--D);
    display: none;


    #s2e2, #s2e8{
      position: absolute;
      left: $textLeft;
      top: $text1_2;
      //text-decoration: underline;
    }
    #s2e3{top: $text2_2;}
    #s2e4{top: $text3_3 }
    #s2e4a{
      display: none;
      position: absolute;
      top: 33vh;
    right: -14vw;
    width: 50vw;
    height: 50vh; }
    #s2e5{top: $text2_2 }
    #s2e5a{
      display: none;
      position: absolute;
      top: 63vh;
      right: 6vw;
      width: 30vw; }
   // #s2e6{top: $firstTextTop + 35vh;left: $textLeft + 5vw; }
    #s2e7{top: $text3_3 }

   // #s2e9{top: $firstTextTop + 10vh; left: $textLeft + 2.5vw;}
    //#s2e10{top: $firstTextTop + 25vh; left: $textLeft + 2.5vw;}
    #s2e10a{ display: none;
      position: absolute;
      top: 40vh;
      right: 5vw;
      width: 34vw;}
   // #s2e11{top: $firstTextTop + 40vh; left: $textLeft + 2.5vw;}
  }


  #slide3{
    background-color: var(--E);
    display: none;

    p{
      position: absolute;
      left: $textLeft;
    }
    #s3e3{
      position: absolute;
      width: 98vw;
      height: 98vh;
      top: 1vh;
      z-index: -1;
    }
    #s3e2{
      top:$text1_3;
    }
    #s3e5{
      top: $text2_3;
    }
    #s3e7{
      top: $text3_3;
    }

  }


  #slide4{
    background-color: var(--F);
    display: none;


    #s4e2{top: $text1_4;}
    #s4e3{
      position: absolute;
      right: 40vw;
    }
    #s4e4{top: $text2_4 ;}
    #s4e5{top: $text3_4;}
    #s4e6{
      display: none;
      position: absolute;
      top: $text4_4;
      width: 65vw;
      right: 1vw;
    }

  }
  #slide5{
    background-color: var(--G);
    display: none;

    #s5e2{top:$text1_3  ;}

    #s5e3{
      top: $text2_3;
    }
    #s5e3a{
      position: absolute;
      width: 40vw;
      height: 40vh;

      top: 35vh;
      right: 1vw;
      z-index: -1; }
    #s5e4{top:$text3_3 ;}

  }
  #slide6{
    background-color: var(--A);
    display: none;

    #s6e2{
      position: absolute;
      top: $text1_3;
    }

    #s6e3{
      position: absolute;
      top: $text2_3;
    }
    #s6e4{
      position: absolute;
      top: $text3_3;
    }
    #s6e4a{
      position: absolute;
      width: 40vw;
      height: 40vh;
      top: 35vh;
      z-index: -1;
      right: 1vw;
    }

    img{
      display: none;
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
    }


  }
  #slide7{
    background-color: var(--B);
    display: none;

    #s7e2{top: $text1_3;}
    #s7e3{top: $text2_3;}
    #s7e4{top: $text3_3 ;}

    #s7e5{
      z-index: -1;
      width: 35vw;
      height: 35vh;
      top: 15vh;
      position: absolute;
      right: .5vw;
    }
    #s7e6{
      display: none;
      position: absolute;
      bottom: 30vh;
      right: 1vw;
      font-size: medium;
      color: #fff;
    }

  }
  #slide8{
    background-color: var(--C);
    display: none;

    #s8e2{top: $text1_2;}
    #s8e3{top: $text2_2;}
    #s8e3a{
      position: absolute;
      display: none;
      top: 40vh;
      right:-20vw;
      width:60vw;
    }
    #s8e4{top: 75vh;}
    #s8e5a{

      color: #fff;
    font-size: 50px;
    display: none;
    position: absolute;
    top: 35vh;
    left: 10vw;
    line-height: 1.8;
    }
  }
}


