<p>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
    </head>
    <body>
      <!--TESTING-->
      <!-- <p id="szamlaloID"></p>
      <p id="slide1ID"></p> -->
      <!---------->

      <!--SLIDE 1-->
      <div id="slide1" class="slide">
        <h2 id="s1e1">Mi is az a Robotofon?</h2>
        <p id="s1e2">- Automatizált metalofon</p>
        <p id="s1e3">- Kötelező iskolai munka</p>
        <img src="" alt="" id="s1e3a" />
        <img src="" alt="" id="s1e3b" />
        <p id="s1e4">- Újragondolás</p>
        <iframe
          id="s1e4a"
          src=""
          title=""
          frameborder="0"
          allow="autoplay;encrypted-media; "
        ></iframe>
      </div>

      <!--SLIDE2-->

      <div id="slide2" class="slide">
        <h2 id="s2e1">A Robotofonon célja</h2>

        <p id="s2e2">Mit adott a projekt nekem?</p>
        <p id="s2e3">Sok tapasztalatot szereztem az:</p>
        <p id="s2e4">- ESP32,</p>
        <img
          src="https://raw.githubusercontent.com/kazmer0/robotofon/master/src/assets/images/esp32.jpeg"
          id="s2e4a"
        />
        <p id="s2e5">- Angular,</p>
        <img
          src="https://raw.githubusercontent.com/kazmer0/robotofon/master/src/assets/images/angular.jpeg"
          id="s2e5a"
        />
        <p id="s2e6">- Modellezés,</p>
        <p id="s2e7">- 3D nyomtatás</p>

        <p id="s2e8">Mit ad az emberek számára?</p>
        <p id="s2e9">- Szórakoztatás</p>
        <p id="s2e10">- Motiváció a gyermekeknek</p>
        <img
          src="https://raw.githubusercontent.com/kazmer0/robotofon/master/src/assets/images/boy.jpg"
          id="s2e10a"
        />
        <p id="s2e11">- Különleges tanulási élmény</p>
      </div>

      <!--SLIDE3-->

      <div id="slide3" class="slide">
        <h2 id="s3e1">Funkciók bemutatása</h2>

        <p id="s3e2">Hangzápor:</p>

        <iframe
          id="s3e3"
          src="https://www.youtube.com/embed/bVtrVq7rNjg?autoplay=1&mute=1&loop=1&playlist=bVtrVq7rNjg"
          title=""
          frameborder="0"
          allow="autoplay;encrypted-media; "
        ></iframe>
        <iframe
          id="s3e4"
          src="https://www.youtube.com/embed/7UgyBa6LLtE?autoplay=1&mute=1&loop=1&playlist=7UgyBa6LLtE"
          title="boci hangzapor lvl4"
          frameborder="0"
          allow="autoplay;encrypted-media; "
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>

        <p id="s3e5">Távirányító:</p>
        <iframe
          id="s3e6"
          src="https://www.youtube.com/embed/wdvsSS8pKYA?autoplay=1&mute=1&loop=1&playlist=wdvsSS8pKYA"
          title="taviranyito"
          frameborder="0"
          allow="autoplay;encrypted-media; "
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>

        <p id="s3e7">Zenedoboz:</p>
        <iframe
          id="s3e8"
          src="https://www.youtube.com/embed/Cs6-nGqI4dU?autoplay=1&mute=1&loop=1&playlist=Cs6-nGqI4dU"
          title="zenedoboz"
          frameborder="0"
          allow="autoplay;encrypted-media; "
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>

      <!--SLIDE4-->
      <div id="slide4" class="slide">
        <h2 id="s4e1">A hardverről</h2>

        <p id="s4e2">- 3D nyomtatás</p>

        <img
          src="https://raw.githubusercontent.com/kazmer0/robotofon/master/src/assets/images/autodes%20fusion.png"
          id="s4e3"
        />

        <p id="s4e4">- Autodesk Fusion</p>
        <p id="s4e5">- Hardver fejlesztése a jövőben</p>
        <iframe
          id="s4e6"
          src="https://www.youtube.com/embed/HT0GyJ52edg?&autoplay=1&hd=1&loop=1&playlist=HT0GyJ52edg&muted=1"
          title="xilofon 2 0 v21"
          frameborder="0"
          allow=" autoplay;encrypted-media;"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>

      <!--SLIDE5-->

      <div id="slide5" class="slide">
        <h2 id="s5e1">Szoftver</h2>

        <p id="s5e2">-</p>
        <img
          src="https://raw.githubusercontent.com/kazmer0/robotofon/master/src/assets/images/bluetooth%20vs%20internet.png"
          id="s5e2a"
        />
        <p id="s5e3">-</p>
        <img
          src="https://raw.githubusercontent.com/kazmer0/robotofon/master/src/assets/images/sg90%20servo.jpeg"
          id="s5e3a"
        />
        <p id="s5e4">-</p>
      </div>

      <!--SLIDE6-->

      <div id="slide6" class="slide">
        <h2 id="s6e1">Kódrészlet bemutatása</h2>
        <img
          id="s6e2"
          src="https://raw.githubusercontent.com/kazmer0/robotofon/master/src/assets/images/images/hangzapor-1.png"
        />
        <img
          id="s6e3"
          src="https://raw.githubusercontent.com/kazmer0/robotofon/master/src/assets/images/images/hangzapor-2.png"
        />
      </div>

      <!--SLIDE7-->

      <div id="slide7" class="slide">
        <h2 id="s7e1">Kihívások és megoldásaik</h2>
        <p id="s7e2">- Hibrid kommunikáció</p>
        <p id="s7e3">- Szervó problémák</p>
        <p id="s7e4">- Modellezési hibák</p>
        <video id="s7e5" autoplay [muted]="true" loop>
          <source
            src="https://assets.yousician.com/app/uploads/2024/05/27035300/mgpm-guitar-billie_1.mp4"
          />
        </video>
        <i id="s7e6">A videó megtalálható a https://yousician.com oldalon</i>
      </div>

      <!--SLIDE8-->

      <div id="slide8" class="slide">
        <h2 id="s8e1">A prezentációról röviden</h2>
        <!-- <a id="s8e2" href="/robotofon/main">kazmer0.github.io/robotofon/main</a> -->
        <p id="s8e2">- Saját határaim feszegetése</p>
        <p id="s8e3">- Saját könyvtár létrehozása</p>
        <img
          src="https://raw.githubusercontent.com/kazmer0/robotofon/master/src/assets/images/prezentacio_kep.png"
          id="s8e3a"
        />
        <p id="s8e4">- Szabadság</p>
        <h2
          id="s8e5"
          style="
            position: absolute;
            top: 50%;
            transform: translateY(-100%);
            font-size: 90px;
          "
        >
          Köszönöm a figyelmet!
        </h2>
        <img
          id="s8e6"
          src="https://raw.githubusercontent.com/kazmer0/robotofon/master/src/assets/images/c5QTvX_qrcode.png"
          style="position: absolute; width: 50vw; height: 50vw; display: none"
        />
      </div>

      <!--------->

      <!--konténer amelybe a 3d modell kerül elhelyezésre-->

      <h1
        id="s0e1"
        style="
          width: 100%;
          position: absolute;
          color: white;
          left: 39%;
          font-size: 60px;
          top: 3vh;
        "
      >
        A Robotofon
      </h1>
      <p
        id="s0e2"
        style="
          position: absolute;
          color: white;
          right: 5vw;
          font-size: 32px;
          bottom: 3vh;
          line-height: 1.5;
        "
      >
        Készítette: Kálmán Zoltán, 4. osztály <br />
        Műszaki Iskola Ada
      </p>
      <div id="container3D"></div>
    </body>
  </html>
</p>
