<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>Document</title>
  </head>
  <app-navigation-bar></app-navigation-bar>

  <!-- Coding By CodingNepal - www.codingnepalweb.com -->

  <body>
    <div class="container swiper">
      <div class="slider-wrapper">
        <div class="card-list swiper-wrapper">
          <div class="card-item swiper-slide">
            <img src="" alt="Image" class="user-image" />
            <h2 class="user-name">Boci-boci tarka</h2>
            <a routerLink="/hangzapor/boci">Játssz most!</a>
          </div>

          <div class="card-item swiper-slide">
            <img src="" alt="Image" class="user-image" />
            <h2 class="user-name">Örömóda</h2>
            <a routerLink="/hangzapor/oromoda">Játssz most!</a>
          </div>

          <div class="card-item swiper-slide">
            <img src="" alt="Image" class="user-image" />
            <h2 class="user-name">Szélről legeljetek</h2>
            <a routerLink="/hangzapor/szelrol">Játssz most!</a>
          </div>

          <!-- <div class="card-item swiper-slide">
            <img
              src=""
              alt="User Image"
              class="user-image"
            />
            <h2 class="user-name">Emily Davis</h2>
            <p class="user-profession">Marketing Specialist</p>
            <a routerLink="/hangzapor/boci">Játssz most!</a>
          </div>

          <div class="card-item swiper-slide">
            <img
              src=""
              alt="User Image"
              class="user-image"
            />
            <h2 class="user-name">Christopher Garcia</h2>
            <p class="user-profession">Data Scientist</p>
            <a routerLink="/hangzapor/boci">Játtsz most!</a>
          </div>

          <div class="card-item swiper-slide">
            <img
              src=""
              alt="User Image"
              class="user-image"
            />
            <h2 class="user-name">Richard Wilson</h2>
            <p class="user-profession">Product Designer</p>
            <a routerLink="/hangzapor/boci">Játtsz most!</a>
          </div> -->
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-slide-button swiper-button-prev"></div>
        <div class="swiper-slide-button swiper-button-next"></div>
      </div>
    </div>

    <!-- Linking SwiperJS script -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
  <router-outlet></router-outlet>
</html>
