button{
  background-color: rgb(111,111 ,111 );
  border: 0;
  height: 25px;
  width: 130px;
  border-radius: 10px;
  color: white;
}
button:hover{
  background-color: aquamarine;
}
button:active{
  background-color: lightblue;
}
