<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- MAIN PAGE DESIGNJA MEGTALÁLHATÓ A https://www.halo-lab.com/blog/how-to-create-scroll-animations OLDALON!-->
  </head>
  <body>
    <div class="header" style="color: white">
      <app-header></app-header>
      <!-- <app-navigation-bar></app-navigation-bar> -->
    </div>
    <div class="slider-container">
      <div class="slide slide0 scrolling_active">
        <div class="slide-part slide-right-part" id="costum-slide">
          <div class="slide-content content-right-part" id="costum-content">
            <h3 class="slide-title">ROBOTOFON</h3>
            <p class="slide-subtitle">Görgessen lejjebb! ↓↓↓</p>
          </div>
        </div>
      </div>

      <div class="slide slide1">
        <div class="slide-part slide-left-part">
          <div class="slide-skew">
            <div class="slide-content content-left-part">
              <h3 class="slide-title">Hogyan használja a Robotofont?</h3>
              <br />

              <br />
              <p class="slide-subtitle"></p>
              <br />
            </div>
          </div>
        </div>
        <div class="slide-part slide-right-part">
          <div class="slide-skew">
            <div class="slide-content content-right-part">
              <p class="slide-subtitle">
                -A megfelelő működés érdekében használja a Google Chrome
                böngészőt
              </p>
              <br />
              <p>
                -Minden funkció használata előtt csatlakoztassa eszközét a
                Robotofonhoz
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide slide2">
        <div class="slide-part slide-right-part" id="costum-slide">
          <div class="slide-content content-right-part" id="costum-content">
            <h3 class="slide-title">Válasszon módot!</h3>
            <p class="slide-subtitle">Válasszon módot a fejlécből ↑↑↑</p>
            <br />
            <p class="slide-subtitle">
              Vagy görgessen tovább a részletes leírásokért! ↓↓↓
            </p>
          </div>
        </div>
      </div>

      <div class="slide slide3">
        <div class="slide-part slide-left-part">
          <div class="slide-skew">
            <div class="slide-content content-left-part">
              <h3 class="slide-title">Hangzápor</h3>
              <br />
              <p class="slide-subtitle">
                Kattintson a leeső téglalpokra, mielőtt azok kiesnének a
                játéktérből.
              </p>
              <br />
              <p class="slide-subtitle">
                Mindig a legalsó téglalpra kattintson.
              </p>
              <br />
              <p class="slide-subtitle">
                A legjobb élményért próbáljon egy magasságot tartani, ami körül
                a téglalapokra kattint!
              </p>
              <br />
              <a href="/robotofon/hangzapor">Tovább a Hangzáporhoz!</a>
            </div>
          </div>
        </div>
        <div class="slide-part slide-right-part">
          <div class="slide-skew">
            <div class="slide-content content-right-part">
              <img
                src="https://github.com/kazmer0/robotofon/blob/master/src/assets/images/hangzapor-pl.png?raw=true"
                alt=""
                height="70%"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="slide slide4">
        <div class="slide-part slide-left-part">
          <div class="slide-skew">
            <div class="slide-content content-left-part">
              <img
                src="https://github.com/kazmer0/robotofon/blob/master/src/assets/images/zenedoboz-pl.png?raw=true"
                alt=""
                width="100%"
              />
            </div>
          </div>
        </div>
        <div class="slide-part slide-right-part">
          <div class="slide-skew">
            <div class="slide-content content-right-part">
              <h3 class="slide-title">Zenedoboz</h3>
              <br />
              <p class="slide-subtitle">
                Ebben a módban zenéket indíthat, amelyeket a robotofon
                lejátszik.
              </p>
              <br />
              <a href="/robotofon/zenedoboz">Tovább a Zenedobozhoz!</a>
            </div>
          </div>
        </div>
      </div>

      <div class="slide slide5">
        <div class="slide-part slide-left-part">
          <div class="slide-skew">
            <div class="slide-content content-left-part">
              <h3 class="slide-title">Távirányító</h3>
              <br />
              <p class="slide-subtitle">
                Ezzel a funkcióval irányíthatja a Robotofont manuálisan.
              </p>
              <br />
              <p class="slide-subtitle">
                Kattintson a virtuális hangszer hangjegyeire, hogy azok le
                legyenek játszva!
              </p>
              <br />
              <p class="slide-subtitle">
                A Robotofon az "A","S","D","F","G","H","J","K" gombok
                megnyomásával is irányítható.
              </p>
              <br />
              <a href="/robotofon/taviranyito">Tovább a Távirányítóhóz!</a>
            </div>
          </div>
        </div>
        <div class="slide-part slide-right-part">
          <div class="slide-skew">
            <div class="slide-content content-right-part">
              <img
                src="https://github.com/kazmer0/robotofon/blob/master/src/assets/images/taviranyito-pl.png?raw=true"
                alt=""
                width="100%"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
