<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- MAIN PAGE DESIGNJA MEGTALÁLHATÓ A https://www.halo-lab.com/blog/how-to-create-scroll-animations OLDALON!-->

    <div class="header" style="color: white">
      <app-navigation-bar></app-navigation-bar>
    </div>
    <div class="slider-container">
      <div class="slide slide0 scrolling_active">
        <div class="slide-part slide-right-part" id="costum-slide">
          <div class="slide-content content-right-part" id="costum-content">
            <h3 class="slide-title">ROBOTOFON</h3>
            <p class="slide-subtitle">Just scroll down</p>
          </div>
        </div>
      </div>

      <div class="slide slide1">
        <div class="slide-part slide-left-part">
          <div class="slide-skew">
            <div class="slide-content content-left-part">
              <h3 class="slide-title">Hogyan használja a Robotofont?</h3>
              <br />
              <p class="slide-subtitle">
                -A megfelelő működés érdekében használja a Google Chrome
                böngészőt
              </p>
              <br />
              <p class="slide-subtitle">aaaaaaaaaaaaaaaaa</p>
              <br />
            </div>
          </div>
        </div>
        <div class="slide-part slide-right-part">
          <div class="slide-skew">
            <div class="slide-content content-right-part"></div>
          </div>
        </div>
      </div>

      <div class="slide slide2">
        <div class="slide-part slide-left-part">
          <div class="slide-skew">
            <div class="slide-content content-left-part"></div>
          </div>
        </div>
        <div class="slide-part slide-right-part">
          <div class="slide-skew">
            <div class="slide-content content-right-part">
              <h3 class="slide-title">Válasszon módot</h3>
              <br />
              <p class="slide-subtitle">
                Válasszon módot a fejlécből, vagy görgessen tovább részletes
                leírásokért
              </p>
              <br />
            </div>
          </div>
        </div>
      </div>

      <div class="slide slide3">
        <div class="slide-part slide-left-part">
          <div class="slide-skew">
            <div class="slide-content content-left-part">
              <h3 class="slide-title">Hangzápor</h3>
              <br />
              <p class="slide-subtitle">
                Kattintson a leeső téglalpokra, mielőtt azok kiesnének a
                játéktérből.
              </p>
              <br />
              <p class="slide-subtitle">
                Mindig a legalsó téglalpra kattintson.
              </p>
              <br />
              <p class="slide-subtitle">
                A legjobb élményért próbáljon egy magasságot tartani, ami körül
                a téglalapokra kattint!
              </p>
              <br />
              <a href="/hangzapor">Tovább a Hangzáporhoz!</a>
            </div>
          </div>
        </div>
        <div class="slide-part slide-right-part">
          <div class="slide-skew">
            <div class="slide-content content-right-part"></div>
          </div>
        </div>
      </div>

      <div class="slide slide4">
        <div class="slide-part slide-left-part">
          <div class="slide-skew">
            <div class="slide-content content-left-part"></div>
          </div>
        </div>
        <div class="slide-part slide-right-part">
          <div class="slide-skew">
            <div class="slide-content content-right-part">
              <h3 class="slide-title">Zenedoboz</h3>
              <br />
              <p class="slide-subtitle">
                Ebben a módban zenéket indíthat, amelyeket a robotofon
                lejátszik.
              </p>
              <br />
              <a href="/zenedoboz">Tovább a Zenedobozhoz!</a>
            </div>
          </div>
        </div>
      </div>

      <div class="slide slide5">
        <div class="slide-part slide-left-part">
          <div class="slide-skew">
            <div class="slide-content content-left-part">
              <h3 class="slide-title">Távirányító</h3>
              <br />
              <p class="slide-subtitle">
                Ezzel a funkcióval irányíthatja a Robotofont manuálisan.
              </p>
              <br />
              <p class="slide-subtitle">
                Kattintson a virtuális hangszer hangjegyeire, hogy azok le
                legyenek játszva!
              </p>
              <br />
              <p class="slide-subtitle">
                A Robotofon az "A","S","D","F","G","H","J","K" gombok
                megnyomásával is irányítható.
              </p>
              <br />
              <a href="/taviranyito">Tovább a Távirányítóhóz!</a>
            </div>
          </div>
        </div>
        <div class="slide-part slide-right-part">
          <div class="slide-skew">
            <div class="slide-content content-right-part"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
